In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_excel('try3.xlsx')
df=pd.DataFrame(data)
dfr=df.rename(columns=df.iloc[7])
df1=dfr[dfr['Ramakka.Y'].astype(str).str.isdigit()]
df2 = df1.dropna(how='all', axis=1)
df2

,NaN,NaN,P. Thangaraj,K.R. Devaraja,M. Backthavachalam,Ramakka.Y,V. Shankar,M. Anbu,V. Kalavathy,R. Bhaskaran,...,S. Murali,Ravi Y,Ramakka,G. Lalitha,J. Sharma,A. Sampangi,NaN,NaN,NaN,NaN
8,1,146001,3,0,148,186,22,0,1,0,...,0,0,5,1,2,0,372,NaN,372,0
9,2,146002,2,1,122,249,13,1,2,5,...,1,1,12,4,1,3,427,NaN,427,0
10,3,146003,2,2,100,269,38,6,5,6,...,4,0,6,7,2,3,503,NaN,503,0
11,4,146004,4,5,51,419,30,7,1,1,...,4,1,2,5,4,3,561,NaN,561,0
12,5,146005,3,1,83,388,29,10,1,2,...,1,2,9,2,0,1,551,NaN,551,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,226,146226,0,1,157,306,19,4,0,4,...,0,0,3,1,0,0,504,NaN,504,0
250,227,146227,4,4,211,282,21,3,4,4,...,3,3,2,7,2,0,571,NaN,571,0
251,TOTAL VOTES ON EVM MACHINES,NaN,2199,445,28867,54861,10208,2051,2501,606,...,269,122,951,794,365,374,117068,0,117068,0
252,228,No.of Votes Recorded on Postal Ballot Papers,0,0,125,153,10,1,0,0,...,0,0,0,1,0,0,306,209,515,NaN
253,ALL,GRAND TOTAL,2199,445,28992,55014,10218,2052,2501,606,...,269,122,951,795,365,374,117374,209,117583,0

In [8]:
su = df2.rename(columns={df2.columns[1]: 'Polling Station'})
su

,Polling Station,Polling Station,P. Thangaraj,K.R. Devaraja,M. Backthavachalam,Ramakka.Y,V. Shankar,M. Anbu,V. Kalavathy,R. Bhaskaran,...,S. Murali,Ravi Y,Ramakka,G. Lalitha,J. Sharma,A. Sampangi,Polling Station,Polling Station,Polling Station,Polling Station
8,1,146001,3,0,148,186,22,0,1,0,...,0,0,5,1,2,0,372,NaN,372,0
9,2,146002,2,1,122,249,13,1,2,5,...,1,1,12,4,1,3,427,NaN,427,0
10,3,146003,2,2,100,269,38,6,5,6,...,4,0,6,7,2,3,503,NaN,503,0
11,4,146004,4,5,51,419,30,7,1,1,...,4,1,2,5,4,3,561,NaN,561,0
12,5,146005,3,1,83,388,29,10,1,2,...,1,2,9,2,0,1,551,NaN,551,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,226,146226,0,1,157,306,19,4,0,4,...,0,0,3,1,0,0,504,NaN,504,0
250,227,146227,4,4,211,282,21,3,4,4,...,3,3,2,7,2,0,571,NaN,571,0
251,TOTAL VOTES ON EVM MACHINES,NaN,2199,445,28867,54861,10208,2051,2501,606,...,269,122,951,794,365,374,117068,0,117068,0
252,228,No.of Votes Recorded on Postal Ballot Papers,0,0,125,153,10,1,0,0,...,0,0,0,1,0,0,306,209,515,NaN
253,ALL,GRAND TOTAL,2199,445,28992,55014,10218,2052,2501,606,...,269,122,951,795,365,374,117374,209,117583,0

In [7]:
df_final=df2[df2['NaN'].astype(str).str.isdigit()]
df_final

KeyError: 'NaN'

In [33]:
df2 = df1.dropna(how='all', axis=1)
df2

,ANNEXURE XLI,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 26,Unnamed: 27
8,1,146001,3,0,148,186,22,0,1,0,...,1,0,0,5,1,2,0,372,372,0
9,2,146002,2,1,122,249,13,1,2,5,...,0,1,1,12,4,1,3,427,427,0
10,3,146003,2,2,100,269,38,6,5,6,...,3,4,0,6,7,2,3,503,503,0
11,4,146004,4,5,51,419,30,7,1,1,...,2,4,1,2,5,4,3,561,561,0
12,5,146005,3,1,83,388,29,10,1,2,...,9,1,2,9,2,0,1,551,551,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,223,146223,2,2,111,252,30,4,3,3,...,2,0,1,3,0,2,0,421,421,0
247,224,146224,1,0,103,281,21,6,0,3,...,2,2,1,12,7,2,4,462,462,0
248,225,146225,0,0,152,201,17,0,1,0,...,2,2,0,3,2,1,4,389,389,0
249,226,146226,0,1,157,306,19,4,0,4,...,3,0,0,3,1,0,0,504,504,0
250,227,146227,4,4,211,282,21,3,4,4,...,3,3,3,2,7,2,0,571,571,0

In [ ]:
df.rename(columns=df.iloc[0])